/* 
    A este archivo le agregamos un guion bajo para decir que no se va a tener otro archivo css y compilarse ahi
    sino que va a compilarse en el archivo al que referenciemos ( o importemos) este archivo variables.
*/

// colores
$verde : #4CBBB3;
$rosa : #F53756;
$amarillo : #fef46d;
$morado : #752F97;
$negro : #000;
$blanco : #ffffff;



// media Queries




// Fuentes
$fuentePrincipal : 'Montserrat', sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


// Separaciones